node_modules
dist
.env
package-lock.json
firebase.json
.vscode
googleapi.json
# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
src/commands/slash_command/find_characters.ts
