node_modules
dist
.env
package-lock.json
firebase.json
.vscode
googleapi.json
# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
src/commands/slash_command/one-time
src/commands/context_menu/get_message_info.ts
src/commands/slash_command/_template.ts
src/interaction-handlers/clash/select-defender.ts
src/listeners/new-post.ts
